---
- name: Deploy Git Repository and Run Script
  hosts: all
  gather_facts: no
  become: yes
  tasks:
    - name: Install Required Packages
      ansible.builtin.package:
        name: ['git', 'sudo', 'jq']
        state: present
      become: yes

    - name: Get kubectl version from stable.txt
      uri:
        url: https://dl.k8s.io/release/stable.txt
        return_content: yes
      register: kubectl_version_result

    - name: Set kubectl_version variable
      set_fact:
        kubectl_version: "{{ kubectl_version_result.content | trim }}"

    - name: Download and Install kubectl
      get_url:
        url: "https://dl.k8s.io/release/{{ kubectl_version }}/bin/linux/amd64/kubectl"
        dest: "/usr/local/bin/kubectl"
        mode: "0755"

    - name: Install Multipass on Ubuntu
      ansible.builtin.command:
        cmd: snap install multipass --classic

    - name: Check if /tmp/ha-cluster directory exists
      stat:
        path: /home/ubuntu/ha-cluster
      register: directory_status

    - name: Remove /tmp/ha-cluster directory if it exists
      file:
        path: /home/ubuntu/ha-cluster
        state: absent
      when: directory_status.stat.exists and directory_status.stat.isdir

    - name: Clone Git repository
      ansible.builtin.git:
        repo: 'https://github.com/AlphaBravoCompany/ha-cluster.git'
        dest: '/home/ubuntu/ha-cluster'
        version: "ansible-updates"

    - name: Find all files in the Scripts directory
      find:
        paths: "/home/ubuntu/ha-cluster/scripts"
        file_type: file
      register: files_in_directory

    - name: Set all files in the Scripts directory to executable
      file:
        path: "{{ item.path }}"
        mode: "u+x"
      loop: "{{ files_in_directory.files }}"

    - name: Execute scripts in /home/ubuntu/ha-cluster
      ansible.builtin.shell: "./{{ item }}"
      args:
        chdir: /home/ubuntu/ha-cluster/scripts
      loop:
        - 01-bastion.sh
        - 02-lb-cp.sh
        - 03-lb-wrkr.sh
        - 04-nodes-cp.sh
        - 05-nodes-wrkr.sh
        - 06-config.sh
        - 07-lb-cp-config.sh
        - 08-lb-wrkr-config.sh